<title><%= title%></title>

<h1>Welcome</h1>
<p>we have the best mobile phone deals on the latest smart phones and value handsets, while our range also extends to free gifts</p>
<p>What do you get when you purchase a phone?
 
<ul>
<li>Easy to use website - providing our customers with the best shopping experience.</li>
<li>Latest mobile phones - home to the biggest brands.</li>
<li>Large range and fantastic customer service - we focus on carefully chosen products with good value in terms of price and service delivery.</li>
<li>FREE Click and next day delivery service - simply place your online order by 3pm today, and we'll deliver it to your chosen destination the next working day.</li>
</ul>
</p>