<title><%= title %></title>
<h1>How would you like to pay</h1>
<p class="button"><%= link_to 'Cash', pay_cash_path, :class => "btn btn-large btn-primary" %>
<%= link_to 'Credit Card', pay_creditCard_path, :class => "btn btn-large btn-primary" %></p>